.card .card-image .card-title {
  padding: 18px;
  font-weight: 400;
}
.card .card-content {
  padding: 10px;
}
.row-grid {
  display: grid;
  justify-content: center;
  align-items: center;
}
.margin-top {
  margin-top: 30px;
}
.grid-style {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: space-evenly;
  align-content: space-evenly;
  grid-gap: 5px;
}
