.card .card-image .card-title {
  padding: 18px !important;
  font-weight: 400;
  /* text-shadow: 2px 2px black; */
}
.card .card-content {
  padding: 10px !important;
}
.row-style {
  margin-top: 30px;
}
.row-grid {
  display: grid;
  justify-content: center;
  align-items: center;
}
