.card .card-image .card-title {
  padding: 18px;
  font-weight: 400;
}
.card .card-content {
  padding: 10px;
}
.row-grid {
  display: grid;
  justify-content: center;
  align-items: center;
}
.mt {
  margin-top: 30px;
}
.mr {
  margin-right: 3rem;
}
.mb {
  margin-bottom: 1rem;
}
.grid-style {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: space-evenly;
  align-content: space-evenly;
  grid-gap: 5px;
}
.form-container {
  width: 60%;
}
.input-field {
  margin-top: 0;
  margin-bottom: 10;
}
.row {
  margin-bottom: 5px;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@media (max-width: 700px) {
  .form-container {
    width: 100%;
  }
}
